/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/* Body */
body{
    background:#f4f7fb;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

/* Main Container */
.container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* Card */
.card{
    width:500px;
    background:white;
    padding:35px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,0.15);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,0.25);
}

/* Headings */
h1{
    text-align:center;
    color:#2c3e50;
    margin-bottom:25px;
}

/* Paragraph */
p{
    text-align:center;
    margin-bottom:20px;
}

/* Inputs */
input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

/* Buttons */
button{
    width:100%;
    padding:12px;
    background:#3498db;
    color:white;
    border:none;
    border-radius:8px;
    font-size:17px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#2980b9;
    transform:scale(1.03);
}

/* Menu */
ul{
    list-style:none;
    margin-top:20px;
}

li{
    margin:15px 0;
}

/* Links */
a{
    display:block;
    text-decoration:none;
    background:#3498db;
    color:white;
    padding:12px;
    text-align:center;
    border-radius:8px;
    transition:.3s;
}

a:hover{
    background:#2980b9;
    transform:translateY(-3px);
}